<div class="table-responsive">
  <table border="1px">
    <thead>
      <tr>
        <th class="tableHeader" *ngFor="let header of tableConfig.headers" (click)="sort(header.key, booleanValue)">
          {{header.label}}
          <span class="material-icons" *ngIf="booleanValue === false; else elseBlock">
            arrow_upward
          </span>
          <ng-template #elseBlock>
            <span class="material-icons">
              arrow_downward
            </span>
          </ng-template>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let index of tableConfig.headers">
          <span>{{row[index.key]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
